[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
mypy = "*"
pylint = ">=2.4.3"
black = "*"

[packages]
covidcast = "*"
fastapi = "*"
uvicorn = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
brotlipy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
